@font-face {
  font-family: GreenAvocado;
  src: url(assets/Boby.otf);
}
header {
  display: flex;
}
body {
  font-family: GreenAvocado, sans-serif;
}
a {
  color: rgb(73, 125, 40);
}
#info {
  display: flex;
  position: absolute;
  left: 70px;
  padding-top: 100px;
}
#infoBody {
  width: 350px;
  height: 500px;
  padding: 30px 37px;
  background-size: 100%;
  background-image: url("./assets/info.png");
}
@media (max-width: 750px) {
  #infoBody {
    display: none;
  }
}
#showCV {
  position: absolute;
  top: 100px;
  left: 0;
  width: 70px;
  padding-top: 12px;
  background-color: rgb(235, 236, 210);
  color: rgb(77, 60, 41);
  border: 1px solid rgb(77, 60, 41);
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
@media (min-width: 750px) {
  #showCV {
    display: none;
  }
}
#tabs {
  position: absolute;
  top: 193px;
  left: 3px;
  width: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 750px) {
  #tabs {
    display: none;
  }
}
.tab{
  height: 30px;
  width: 65px;
  border: 2px solid rgb(77, 60, 41);
  padding-left: 3px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("assets/tabBackground.png");
  font-size: 12px;
  color: rgb(235, 236, 210);
  cursor: pointer;
}
#activeTab {
  color: rgb(77, 60, 41);
  background-image: url("assets/activeTabBackground.png");
}
/* SKILLS */
.skillsInfo {
  display: none;
}
#infoVisible {
  display: block;
}
#position {
  height: 30px;
  margin: 3px 0 0 17px;
  font-size: 15px;
  line-height: 40px;
  color: rgb(128,128,116);
}
#account {
  display: flex;
  margin: 0 10px;
  padding: 7px;
}
#photo {
  width: 100px;
  height: 100px;
  position: relative;
  top: 3px;
}
#name {
  margin: 7px 25px;
}
#software {
  height: 195px;
  padding: 11px 0 0 33px;
  display: grid;
  grid-template-columns: 75px repeat(3, 62px);
  grid-template-rows: 93px 80px;
  grid-column-gap: 5px;
}
#software div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center
}
.firstSoftware {
  padding-right: 17px;
}
#skillSwitcher {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 17px;
}
#skillSwitcher button {
  width: 28px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}
#skills {
  padding-left: 13px;
  height: 105px;
}
.skillsSectionHide{
  display: none;
}
#skillsSectionVisible {
  display: grid;
  grid-template-columns: repeat(5, 62px);
  grid-template-rows: 51px 51px;
  grid-gap: 2px;
}
#skillsSectionVisible > div {
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skillsSectionVisible > div > img {
  max-height: 95%;
  max-width: 95%;
}
/* ABOUT/EXPERIENCE */
.aboutInfo, .experienceInfo {
  display: none;
  padding: 2px 5px 5px 5px;
  max-width: 335px;
  height: 350px;
}
.aboutInfo > div, .experienceInfo > div{
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  padding: 20px 10px;
  border: 1px solid rgb(77, 60, 41);
  overflow-y: scroll;
}
.stoneBackground {
  background-image: url("assets/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.parchmentBackground {
  background-image: url("assets/parchment.jpg");
}
.experienceBlock {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 20px 10px;
  border: 1px solid rgb(77, 60, 41);
}
.experienceLogo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.aboutInfo h6, .experienceInfo h6 {
  text-align: center;
  color: rgb(235, 236, 210)
}
.aboutInfo p, .experienceInfo p {
  font-size: 12px;
  color: rgb(188, 178, 160)
}
.aboutInfo hr, .experienceInfo hr {
  border-top: 1px solid rgb(128,128,116);
  border-bottom: 1px solid rgb(235, 236, 210);
}
