@font-face {
  font-family: GreenAvocado;
  src: url(assets/Boby.otf);
}
header {
  display: flex;
}
body {
  font-family: GreenAvocado, sans-serif;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
}
#infoBody {
  width: 350px;
  height: 500px;
  padding: 30px 37px;
  background-size: 100%;
  background-image: url("./assets/info.png")
}
#position {
  height: 30px;
  margin: 3px 0 0 17px;
  font-size: 15px;
  line-height: 40px;
  color: rgb(128,128,116);
}
#account {
  display: flex;
  margin: 0 10px;
  padding: 7px;
}
#photo {
  width: 100px;
  height: 100px;
}
#name {
  margin: 7px 25px;
}
#skills {
  height: 185px;
  padding: 11px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.skillWrapper {
  margin-bottom: 10px;
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center
}
.firstSkill {
  margin-right: 20px;
}
